.toolbar2 {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25em;
  justify-content: space-evenly;
}

#tool1 {
  order: 2;
}

#tool2 {
  display: none;
}

#tool3 {
  order: 3;
}

#tool4 {

}

#tool5 {

}

#tool6 {

}

#tool7 {

  display: none;
}

#tool8 {

}

#tool9 {

}

#tool10 {

}